{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h3>Bienvenido</h3>

<p>Esta aplicación se encuentra funcionando en modo de demostración.</p>
<p>
    Puede navegar los libros de órdenes de los criptoactivos cuyos precios se están siendo monitoreando en la sección de 
    <a href="{{ path('dash_coti') }}">cotizaciones</a>.
    Las oportuindades de arbitraje detectadas (vigentes o históricas) se pueden ver en la sección de
    <a href="{{ path('arbi_inicio') }}">arbitraje</a>.
</p>

</div>
{% endblock %}