{% extends 'user/editbase.html.twig' %}

{% block title %}Usuario: Contraseña{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn btn-default" href="{{ path('user_index') }}">Volver</a>
    <button class="btn btn-primary float-right">Guardar</button>
    {{ form_end(form) }}
{% endblock %}